:root {
    --background-color: white;
}

body {
    padding-top: 60px;
    background-color: var(--background-color);
    font-size: 1.3rem;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-item {
    background-color: #333;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right {
    gap: 10px;
}

.nav-item:hover{
    background-color: #575757;
    border-radius: 10px;
}

.input {
    transition: all 0.2s ease;
    height: 25px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 3px;
}

.input:focus {
    transform: scale(1.02);
}

.bold_text{
    font-weight: bold;
}

.button{
    border: none;
    background-color: #626262;
    color: white;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 12px;
}

.button:hover{
    background-color: #8e8d8d;
}

.label-input-allign{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.post-container{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 900px;
    max-height: 900px;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
}

.post-content{
    text-indent: 35px;
    line-height: 1.4;
}

.post-user{
    display: inline-block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    font-weight: bold;
}

.post-footer {
    width: 900px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-start;

}

.like-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.like-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.read-more {
    color: rgb(140, 10, 5);
    text-decoration: none;
}


